body {
    font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
    font-size: 14px;
    margin: auto;
    max-width: 1024px;
    min-width: 640px;
}

#container {
    margin:40px;
}

li {
    list-style: disc inside none;
}

#nav li {
  float: left;
  list-style: none inside none;
  border:1px solid #000;
  margin:2px;
  padding: 1px;
}

#nav ul {
    padding:0;
}

#nav li a {
  float: left;
  padding: 5px 12px;
  width:100%;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

#nav li:hover, #nav li.active {
  color: #FFF;
  background-color: #333;
}

#nav li:hover a, #nav li.active a {
  color: #FFF;
}

#content {
    clear:both;
    padding:10px 0px;
}
